
@model IEnumerable<TheatreCMS.Models.Sponsor>
<br/>
<br/>

<h3 class="sponsor-title">Our Sponsors</h3>
<br/>
   
    @foreach (var item in Model)
    {
        <img class="sponsor-pic" src="data:image;base64,@System.Convert.ToBase64String(item.Logo)" />
        <br/>
        <p id="sponsor-text">@Html.DisplayFor(modelItem => item.Name)</p>
         
    }
