
@{
    ViewBag.Title = "Login Failed";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/Content/Site.css" media="screen"/>
</head>

<body>
    <!--Added option buttons and image to the page-->
    <!--Added class 'iconbtn' to buttons, to match those on sponsor index page-->
    <div class="loginFailureBackdrop mt-2 col-md-7">
      <div class="center-box mb-5 mt-2">
          <img src="/Content/Images/oops.jpg" id="move-oops" class="center-box" alt="Oops!" />
      </div>
          <form>
              <h2 class="center-box mb-1 text-center">Your login attempt was not successful.</h2>
              <div class="center-box mb-4">
                  <a href="/Account/Login" class="button-redirect iconBtn">Retry</a>
              </div>
              <div class="center-box mb-4">
                  <p class="mb-1"> Not registered? Register for a new account here. </p>
                  <a href="/Account/Register" class="button-redirect iconBtn">
                      Register
                  </a>
              </div>
              <div class="center-box">
                  <p class="mb-1"> Forgot your password? Click below to reset your password.</p>
                  <a href="/Account/ForgotPassword" class="button-redirect iconBtn mb-3">
                      Forgot Password
                  </a>
              </div>
          </form>
      </div>
</body>
</html>